:root {
  --justAColor: black;
}
body {
  background-color: var(--justAColor);
  text-align: center;
}
form {
  font-family: "Merienda One", cursive;
  color: black !important;
  font-size: 25px;
}
h1 {
  font-family: "Roboto Slab", serif;
  color: white;
}
img {
  width: 300px;
  margin: 0px 0px 1em 0px;
}

.thin-black-border {
  border-width: 4px;
  border-color: var(--justAColor);
  border-style: solid;
  border-radius: 100%;
}
.AllForm {
  background-color: #8fdcd3;
  border-style: solid;
  border-width: 10px;
  border-radius: 8px;
  text-align: justify;
}

[type="text"] {
  margin: 15px 0px 15px 0px;
}

button {
  padding: 20px;
  border-radius: 50%;
  background-color: #46afbd;
  font-size: 20px;
  box-shadow: whitesmoke 50px;
}
button:hover {
  color: whitesmoke;
  background-color: #ff7c00;
  cursor: pointer;
  padding: 24px;
  transition-duration: 1s;
}
form {
  position: relative;
  left: 500px;
}

button {
  position: relative;
  left: 310px;
  bottom: 60px;
  font-weight: bolder;
}

#headHoverGradient:hover {
  color: #ff7c00;
  transition-duration: 1s;
}
